
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  color: purple;
  font-size: 40px;
  background: url("background.jpg") center center / cover no-repeat fixed;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  padding: 20px;
}

header h3 {
  margin-bottom: 10px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px auto 0;
  font-size: 50px;
}

nav ul li a {
  font-family: "Courier New", monospace;
  color: purple;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}


footer {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
